.card{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
}